<!-- index.hbs -->
<div class="d-flex">
    <img src="images/beer.png" alt="beer draw">
</div>

<div class="w-100 middle">
    <button class='btn btn-primary'><a href="beers">Check the beers!</a></button>
</div>
<div class="w-100 middle">
    <button class='btn btn-primary'><a href="random-beers">Check a random beer!</a></button>
</div>